@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  body{
    font-family:'Inter', sans-serif;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
  }

  .error-message {
    color: red;
    font-size: 0.875rem; /* Adjust font size as needed */
    margin-top: 0.25rem; /* Add some spacing between input and error message */
  }
  
  main {
    flex: 1 0 auto; /* The flex shorthand to allow this element to grow and shrink as needed */
    min-height: 70vh;    

  }
  
  footer {
    flex-shrink: 0; /* Prevents the footer from shrinking */
  }


  input.input-error,
  select.input-error {
    border-color: red;
  }