@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(255, 255, 255);
    /* font-family:'Inter', sans-serif; */
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
}

.react-datepicker-wrapper{
    width:100%;
}

@layer components{
    button{
        @apply text-deepBlack border bg-lightYellow
        hover:bg-transparent hover:text-lightYellow rounded-md 
    }
}
@layer base {
    
    li{
        @apply p-4 ;
    }
    
    button{
        @apply text-deepBlack border bg-lightYellow
        hover:bg-transparent hover:text-lightYellow rounded-md 
    }

    .no-hover {
        @apply text-deepBlack border bg-lightYellow rounded-md !important;
        
      }
}